@model muddleapp.Models.Nugget;
@using muddleapp.Models;


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>muddle</title>
    <meta name="description" content="Cocktail search webapp!">
    <link rel="stylesheet" href="~/lib/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/Bootstrap-Cards-v2.css">
    <link rel="stylesheet" href="~/lib/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="~/lib/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="~/lib/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="~/lib/assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="~/lib/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0a8d489327.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: #fff;color: #1E90FF;">
        <div class="container">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <button data-toggle="collapse" type="submit" class="btn btn-link navbar-brand" style="font-family: 'Pacifico', cursive; font-size: 35pt;">muddle</button>
            }
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                </ul>
                <a target="_blank" href="https://github.com/griffinpuc/muddleapp" style="color: #1E90FF; font-size: 15pt;"><i class="fab fa-github"></i> GitHub</a>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col" style="margin-bottom: 80px;margin-top: 45px;">
                    <form class="search-form">

                        @using (Html.BeginForm("searchPath", "Home", FormMethod.Post))
                        {
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div><input class="form-control" type="text" name="userdrink" id="userdrink" placeholder="I am looking for..">
                                <div class="input-group-append"><button class="btn btn-light" type="submit" style="background-color: #1E90FF;color: rgb(255,255,255);">Search </button></div>
                            </div>
                        }
                    </form>
                </div><div class="bootstrap_cards2">
                    <div class="container py-5">

                        @for (int i = 0; i < (Model.drinks.Length / 4); i++)
                        {
                            <div class="row pb-5 mb-4">


                                @foreach (Drink drink in Model.drinks.Skip(i * 4).Take(4))
                                {
                                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 animated fadeInUp">
                                        <!-- Card-->
                                        <div class="card rounded shadow-sm border-0">
                                            <div class="card-body p-4" style="border-bottom-left-radius: 150px;">
                                                <img style="clip-path: circle(100px at center);" src="@drink.strDrinkThumb" alt="" class="img-fluid d-block mx-auto mb-3">
                                                <h5>@drink.strDrink</h5>
                                                <p class="small text-muted font-italic">@drink.strCategory</p>

                                                <div style="text-align: center; margin-top: 40px;">
                                                    @using (Html.BeginForm("Recipe", "Home", FormMethod.Post))
                                                    {
                                                        <input type="hidden" value="@drink.idDrink" name="drinkID" id="drinkID" />
                                                        <button type="submit" class="btn btn-dark">&#128195 Recipe</button>
                                                    }
                                                    <p style="font-size: 15pt; margin-top: 20px;">&#127867 @drink.hits Hits</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        }

                        <!-- Second Row [Team]-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-dark" style="margin-top: 71px;background-color: #1E90FF;">
            <footer>
                <div class="container">
                    <div class="col" style="text-align: center;font-family: 'Pacifico', cursive; font-size: 35pt;">
                        muddle app
                    </div>
                    <p class="copyright">Griffin Puc © 2020</p>
                </div>
            </footer>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>